# Firebase Configuration
FIREBASE_PROJECT_ID=durvesh-ff5c1
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR-FIREBASE-PRIVATE-KEY-HERE\n-----END PRIVATE KEY-----"
FIREBASE_CLIENT_EMAIL=your-service-account@durvesh-ff5c1.iam.gserviceaccount.com
FIREBASE_STORAGE_BUCKET=durvesh-ff5c1.firebasestorage.app

# Mapbox Configuration
MAPBOX_ACCESS_TOKEN=pk.eyJ1Ijoia2FyYW54YSIsImEiOiJjbWcydnlkaTQwdHJ3MmtzNmU0ZjhtNjNhIn0.MefwJP2ybogMMLcAqNSegg

# Application Configuration
DEBUG=True
SECRET_KEY=your-secret-key-change-in-production
ACCESS_TOKEN_EXPIRE_MINUTES=11520

# CORS Configuration (for development)
BACKEND_CORS_ORIGINS=["http://localhost:3000","http://localhost:5173"]
